<div class="details-page">

  <!-- BACKGROUND -->
  <div class="bg-glow glow-1"></div>
  <div class="bg-glow glow-2"></div>

  <!-- HERO -->
  <div class="hero">

    <h1 class="title">
      Sticker Nations
    </h1>

    <p class="subtitle">
      Explore all national sticker collections
    </p>

    <!-- SEARCH -->
    <div class="search-wrapper">

      <input
        type="text"
        [formControl]="searchControl"
        placeholder="Search country..."
        class="search-input"
      />

      <div class="search-icon">
        🔎
      </div>

    </div>

  </div>

  <!-- CAROUSEL -->
  <div class="carousel-wrapper">

    @if (filteredNations.length > 0) {

      <div class="carousel">

        @for (
          nation of filteredNations;
          track nation
          ) {

          <div
            class="nation-card"
            (mouseenter)="pauseCarousel()"
            (mouseleave)="resumeCarousel()"
            [routerLink]="[
              '/nation-stickers',
              nation
            ]"
          >

            <div class="card-glow"></div>

            <div class="nation-icon">
              ⚽
            </div>

            <div class="nation-name">
              {{ nation }}
            </div>

            <div class="nation-count">
              {{ nationalityCounts[nation] || 0 }}
               / 12
            </div>
            <div class="nation-count">
              {{ truncate( nationalityCounts[nation] * 100 /12) || 0 }} % completed
            </div>

          </div>
        }

      </div>

    } @else {

      <div class="empty-state">

        <h3>
          No country found
        </h3>

        <p>
          Try another search keyword
        </p>

      </div>
    }

  </div>

  <!-- OWNED SECTION -->

  <section
    #ownedSection
    class="table-section"
    [class.visible]="showOwned"
  >

    <div class="table-header">

      <h2>
        🏆 Owned Stickers
      </h2>

      <input
        type="text"
        [formControl]="ownedSearch"
        placeholder="Search owned..."
        class="table-search"
      />

    </div>

    <div class="table-wrapper">

      <table>

        <thead>

        <tr>
          <th>ID</th>
          <th>Sticker</th>
          <th>Email</th>
        </tr>

        </thead>

        <tbody>

          @for (
            row of filteredOwned;
            track row.id
            ) {

            <tr>

              <td>
                #{{ row.id }}
              </td>

              <td>
                {{ row.code }}
              </td>

              <td>
                {{ row.email }}
              </td>

            </tr>
          }

        </tbody>

      </table>

    </div>

    <div class="pagination">

      <button
        (click)="prevOwned()"
      >
        Previous
      </button>

      <span>
      {{ ownedPage + 1 }}
        /
        {{ ownedTotalPages }}
    </span>

      <button
        (click)="nextOwned()"
      >
        Next
      </button>

    </div>

  </section>

  <!-- DUPLICATES SECTION -->

  <section
    #duplicateSection
    class="table-section"
    [class.visible]="showDuplicates"
  >

    <div class="table-header">

      <h2>
        🔥 Duplicates
      </h2>

      <input
        type="text"
        [formControl]="duplicateSearch"
        placeholder="Search duplicates..."
        class="table-search"
      />

    </div>

    <div class="table-wrapper">

      <table>

        <thead>

        <tr>
          <th>ID</th>
          <th>Sticker</th>
          <th>Count</th>
        </tr>

        </thead>

        <tbody>

          @for (
            row of filteredDuplicates;
            track row.id
            ) {

            <tr>

              <td>
                #{{ row.id }}
              </td>

              <td>
                {{ row.place }}
              </td>

              <td>
                {{ row.count }}
              </td>

            </tr>
          }

        </tbody>

      </table>

    </div>

    <div class="pagination">

      <button
        (click)="prevDuplicates()"
      >
        Previous
      </button>

      <span>
      {{ duplicatePage + 1 }}
        /
        {{ duplicateTotalPages }}
    </span>

      <button
        (click)="nextDuplicates()"
      >
        Next
      </button>

    </div>

  </section>

</div>
