<div class="details-page">

  <!-- BACKGROUND -->
  <div class="bg-glow glow-1"></div>
  <div class="bg-glow glow-2"></div>

  <!-- HERO -->
  <div class="hero">

    <h1 class="title">
      Sticker Nations
    </h1>

    <p class="subtitle">
      Explore all national sticker collections
    </p>

    <!-- SEARCH -->
    <div class="search-wrapper">

      <input
        type="text"
        [formControl]="searchControl"
        placeholder="Search country..."
        class="search-input"
      />

      <div class="search-icon">
        🔎
      </div>

    </div>

  </div>

  <!-- CAROUSEL -->
  <div class="carousel-wrapper">

    @if (filteredNations.length > 0) {

      <div class="carousel">

        @for (
          nation of filteredNations;
          track nation
          ) {

          <div
            class="nation-card"
            (mouseenter)="pauseCarousel()"
            (mouseleave)="resumeCarousel()"
            [routerLink]="[
              '/nation-stickers',
              nation
            ]"
          >

            <div class="card-glow"></div>

            <div class="nation-icon">
              ⚽
            </div>

            <div class="nation-name">
              {{ nation }}
            </div>

            <div class="nation-count">
              {{ nationalityCounts[nation] || 0 }}
               / 12
            </div>
            <div class="nation-count">
              {{ truncate( nationalityCounts[nation] * 100 /12) || 0 }} % completed
            </div>

          </div>
        }

      </div>

    } @else {

      <div class="empty-state">

        <h3>
          No country found
        </h3>

        <p>
          Try another search keyword
        </p>

      </div>
    }

  </div>

</div>
